@page
@model SchoolRecord.Pages.Admission.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>schoolAdminssion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="schoolAdminssion.id" />
            <div class="form-group">
                <label asp-for="schoolAdminssion.Name" class="control-label"></label>
                <input asp-for="schoolAdminssion.Name" class="form-control" />
                <span asp-validation-for="schoolAdminssion.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schoolAdminssion.fatherName" class="control-label"></label>
                <input asp-for="schoolAdminssion.fatherName" class="form-control" />
                <span asp-validation-for="schoolAdminssion.fatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schoolAdminssion.Contact" class="control-label"></label>
                <input asp-for="schoolAdminssion.Contact" class="form-control" />
                <span asp-validation-for="schoolAdminssion.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schoolAdminssion.sClass" class="control-label"></label>
                <input asp-for="schoolAdminssion.sClass" class="form-control" />
                <span asp-validation-for="schoolAdminssion.sClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
