@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Welcome, to simple record keeping application of a school in this we can store information in various different tables under one platform 
    </h4>
    <img src="https://thumbs.dreamstime.com/b/word-writing-text-school-records-business-concept-information-kept-child-biography-view-young-man-photo-155563416.jpg">
</div>
